/*Add appoinment page*/
.add-page .btn{
    margin-right:30px;
    float: right;
    background: black;
    color:aliceblue;
    border: none;
    width:100px;
    height: 33px;
    font-size: 15px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .add-page .btn1{
    margin-right: 30px;
    float: right;
    background: black;
    color:aliceblue;
    border: none;
    width:100px;
    height: 33px;
    font-size: 15px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .add-page .btn2{
    margin-right: 5px;
    float: right;
    background: black;
    color:aliceblue;
    border: none;
    width:100px;
    height: 33px;
    font-size: 15px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  
  .add-page textarea{
    background:#CEE5D0;
    color: black;
    border: none;
    width: 57%;
    padding: 3px;
    font-size: 15px;
    min-height: 10px;
    max-height: 120px;
    resize: vertical;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
    opacity: 0.9;
  }
  
  .text-box{
    background:#CEE5D0;
    color: black;
    border: none;
    width: calc(60% - 230px);
    height: 20px;
    padding: 13px;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    opacity: 0.9;
  }
  .text-box1{
    background:#CEE5D0;
    color: black;
    border: none;
    width: 160px;
    height: 20px;
    padding: 13px;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    opacity: 0.9;
  }
  .text-box2{
    background:#CEE5D0;
    color: black;
    border: none;
    width: 155px;
    height: 20px;
    padding: 13px;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    opacity: 0.9;
  }
  .text-box3{
    background:#CEE5D0;
    color: black;
    border: none;
    width: 94px;
    height: 20px;
    padding: 13px;
    font-size: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    opacity: 0.9;
  }

  
  .add-page .text-box:first-child{
    margin-right: 100px;
  }
  
  .add-page{
    max-width: 1000px;
    margin-left: 10vh;
    flex: 1;
  }

  .rbtn{
    margin-left: 350px;
  }
  .add h2{
    text-align: left;
    margin-left: 380px;
    margin-top: 70px;
    font-family: 'Courier New', Courier, monospace;
  }
  .card{
    flex:1 1 20rem;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    margin:10px 20px;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 0 15px rgb(0,0,0,0.4);
    padding:20px;
    align-self: normal;
    margin-top: 5vh;
    margin-right: 200px;
    margin-left: 60px;
  }
  .card h2{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 10px;
    margin-left: -50vh;
  }
  
    .abcd{
      display: flex;
    }
    .mobile{
      flex: 1;
    }
    .date{
      flex: 1;
    }
    .time{
      flex: 1;
    }
  
    /*Appoin page*/
    
  
    /* table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px 70px;
      text-align: left;
      border-bottom: 1px solid #DDD;
    }
    
    tr:hover {background-color: #D6EEEE;}

    button{
      float:right;
      margin-right: 8px;
    
    background: black;
    color:aliceblue;
    border: none;
    width:150px;
    height: 33px;
    font-size: 14px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:15px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  h2{
    margin-top: 100px;
    margin-left: 47vh;
  } */

    /* .content-table{
      border-collapse: collapse;
      margin-top: 100px;
      margin-left: -4vh;
      font-size: 16px;
      width: 100%;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .content-table thead tr{
      background-color: black;
      color: #fff;
      text-align: center;
      font-weight: bold;
      display: table-header-group;
  
  
    }
table{
  table-layout: fixed;
}
  
     th{
      padding: 10px 70px;
      width: 100%;
      text-align: center;
      text-rendering: auto;
     
    }
     td{
      padding: 1px 65px;
      width: 100%;
     
    }
    
    .content-table tbody tr{
      border-bottom: 1px solid #dddddd;
    }
    .content-table tbody tr:nth-of-type(even){
      background-color: #642a2a;
    }
    .content-table tbody tr:last-of-type{
      border-bottom: 2px solid black;
    }
    .table button{
      float:right;
      margin-right: 8px;
    
    background: black;
    color:aliceblue;
    border: none;
    width:150px;
    height: 33px;
    font-size: 14px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:15px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .table h2{
    margin-top: 100px;
    margin-left: 47vh;
  }
   */