
.aname{
    font-size:25px;
    margin-top:100px;
    width: 75%;
    padding: 12px 20px;
    height:50px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
    cursor: pointer;
    background-color: cadetblue; 
  }
  .fname{
  
    font-size:25px;
    margin-top:100px;
    width: 75%;
    padding: 12px 20px;
    height:50px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
    cursor: pointer;
    background-color: cadetblue;
  }
  
  
  .address{
    font-size:25px;
    margin-top:100px;
    width: 75%;
    padding: 12px 20px;
    height:70px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display:flex;
    cursor: pointer;
    /* background-color: cadetblue; */
    
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 600px;
    top: 500px;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
   
    transform: translateY(4px);
  }
  .button1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 800px;
    top: 500px;
    outline: none;
    color: #fff;
    background-color: darkcyan;
    border: none;
    border-radius: 15px;
   
  }
  .client{
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .button1:hover {background-color:rgb(211, 83, 9)}
  
  .button1:active {
    background-color:darkcyan;
    
    transform: translateY(4px);
  }
  
  
  
  
  .dash{
    height: 60px;
  }
  .wrapper{
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }
  .center{
    flex: 2;
  }
  
  .center{
    margin-left:30px;
    margin-top:50px;
    padding:50px;
  }
  
  .right{
    flex:2;
   
  }
  .right{
   
      margin-left:30px;
      margin-top:104px;
      padding:50px;
  }
  .radiobutton{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px;
    display: flex;
    
  }
  input[type=radio] {
    cursor: pointer;
    border: 0px;
    width: 20%;
    height: 2em;
    margin-left: 5px;
  }


  .add-page1 .btn{
    margin-right:30px;
    float: right;
    background: black;
    color:aliceblue;
    border: none;
    width:100px;
    height: 33px;
    font-size: 15px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .add-page1 .btn1{
    margin-right: 30px;
    float: right;
    background: black;
    color:aliceblue;
    border: none;
    width:100px;
    height: 33px;
    font-size: 15px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .add-page1 .btn2{
    margin-right: 5px;
    float: right;
    background: black;
    color:aliceblue;
    border: none;
    width:100px;
    height: 33px;
    font-size: 15px;
    text-transform:capitalize;
    letter-spacing:1px ;
    border-radius:25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  