.cdash{
    height: 60px;
  }
  .cwrapper{
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }
  .cleft{
    flex: 1;
    background-color:black;
    min-height: 828px;
  }
  .ccenter{
    flex: 2;
  }
  
  .ccenter{
    margin-left:30px;
    margin-top:50px;
    padding:50px;
  }
  
  .cright{
    flex:2;
   
  }
  .cright{
   
      margin-left:30px;
      margin-top:86px;
      padding:50px;
  }

  .case {
      font-size: 25px;
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color:darkseagreen;
    color: white;
  }

  .cradiobutton{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px;
    display: flex;
    
  }
  .dash input[type=radio] {
    cursor: pointer;
    border: 0px;
    width:20%;
    height: 2em;
    margin-left: 5px;
  }
  .cbutton{
    background-color:darkseagreen;

  }
  .ccbutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 600px;
    top: 770px;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    
  }
  
  .ccbutton:hover {background-color: #3e8e41}
  
  .ccbutton:active {
    background-color: #3e8e41;
   
    transform: translateY(4px);
  }
  .cbutton1 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 800px;
    top: 770px;
    outline: none;
    color: #fff;
    background-color: darkcyan;
    border: none;
    border-radius: 15px;
   
  }
  
  
  .cbutton1:hover {background-color:rgb(211, 83, 9)}
  
  .cbutton1:active {
    background-color:darkcyan;
    
    transform: translateY(4px);
  }
